@font-face {
  font-family: "iconfont"; /* Project id 2971072 */
  src: url('iconfont.woff2?t=1640063285378') format('woff2'),
       url('iconfont.woff?t=1640063285378') format('woff'),
       url('iconfont.ttf?t=1640063285378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-id:before {
  content: "\e8ed";
}

.icon-youxiang1:before {
  content: "\e69d";
}

.icon-geren1:before {
  content: "\e607";
}

.icon-shenfenxuanze:before {
  content: "\e6da";
}

.icon-youxiang2:before {
  content: "\e618";
}

.icon-youxiang3:before {
  content: "\e639";
}

.icon-id1:before {
  content: "\e71c";
}

.icon-shenfen:before {
  content: "\e74d";
}

.icon-wo:before {
  content: "\e611";
}

.icon-wo1:before {
  content: "\e605";
}

.icon-gonghao:before {
  content: "\e6b0";
}

.icon-youxiang:before {
  content: "\e600";
}

.icon-shouji1:before {
  content: "\e8b9";
}

.icon-shenfenrenzheng:before {
  content: "\e996";
}

.icon-shouji:before {
  content: "\e67f";
}

.icon-bianhao:before {
  content: "\e62b";
}

.icon-icon-:before {
  content: "\e617";
}

.icon-iconx-:before {
  content: "\e61c";
}

.icon-geren:before {
  content: "\e679";
}

.icon-yanzhengshenfen:before {
  content: "\e6e3";
}

.icon-shoucang-xianxing:before {
  content: "\e8c3";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-kebiao:before {
  content: "\e632";
}

